html {
  font-family: 'Russo One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  background-color: #F6F8FA; 
  border: 1px solid #D1D5DA;
}

.control {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-top: 0.8rem;
}

.reset {
  cursor: pointer;
}